*{
    padding: 0;
    margin: 0;
    border: 0;
}
/*обращение ко всем тегам, снимаем стандартные параметры тегам(у каждого тега свои параметры)*/
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*    убираем линии обводки у некоторых браузеров*/
}
nav,footer,header,aside{
    display: block;
}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
/*уравнивает поведеине шрифтов и элементов для разных браузеров, запрещает самовольное увелечение шрифта на айфонах*/
input,button,textarea{
    font-family: inherit;
}
input::-ms-clear{
    display: none;}
button{
    cursor: pointer;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
a, a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style: none;
}
img{
    vertical-align: top;
}
h1,h2,h3,h4,h5,h6{
    font-size: inherit;
    font-weight: 400;
}
body{
    padding: 30px;
}
.block{
    margin: 0px 0px 30px 0px;
}
.block p:nth-child(odd) {
    background-color: yellow;
}
.block p:nth-child(1) {
    background-color: yellow;
}
.block p:nth-child(2) {
    background-color: grey;
}
.block p:nth-child(3) {
    background-color: green;
    font-size: 15px;
}
.block p:nth-child(3):hover {
    background-color: darkolivegreen;
    font-size: 30px;
}
.block p:nth-child(3):active {
    background-color: tan;
    font-size: 50px;
}
.block p{
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 20px 0;
}
.link{
    color:  red;
}
.link:visited{
    color: blueviolet;
}
.link:hover{
    text-decoration: underline;
    color: blue;
}
.link:active{
    color: yellow;
}
.textinput{
    border: 1px solid #666;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    width: 300px;
    margin: 0 0 10px 0;
}
.textinput:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.textbutton{
    display: block;
    width: 300px;
    height: 50px;
    background-color: #666;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}
.textbutton:hover{
    background-color: #333;
    color: yellow;
}
.textbutton:active{
    background-color: #eee;
    color: yellow;
}
.list{

}

.list li{
    font-size: 18px;
    margin: 0 0 15px 0;
}
/*.list li:first-child{*/
/*    color: green;*/
/*}*/
/*.list li:last-child{*/
/*    color: blue;*/
/*    font-weight: 700;*/
/*}*/
.list li:nth-child(even){
    text-transform: uppercase;
}